@import url(reset.css);

.container {
    /* height: 600px; */
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    /* column-gap: 10px;
    row-gap: 20px; */
}

.box {
    background-color: antiquewhite;
    font-size: 2em;
    text-align: center;
    border: 1px solid  black;
 
}

.one {
    background-image: url(./pexels-francesco-ungaro-2325447.jpg);
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
    /* grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3; */
}

.two {
    background-image: url(./pexels-mohamedelaminemsiouri-2100387.jpg);
    background-size: cover;
    background-position: center;  
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

}

.three {
    background-image: url(./pexels-pixabay-163848.jpg);
    background-size: cover;
    background-position: center;  


}

.four {
    background-image: url(./pexels-pixabay-46160.jpg);
    background-size: cover;
    background-position: center;  
    grid-row-start: 2;
    grid-row-end: 4;
    /* grid-column: 1 / 3;
    grid-row: 4 / 6; */
    /* grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end; */
    /* grid-area: 4 / 1 / 6 / 3; */
}

.five {
    background-image: url(./pexels-scottwebb-1048039.jpg);
    background-size: cover;
    background-position: bottom;


}

.six {
    background-image: url(./pexels-sebastian-palomino-933481-1955134.jpg);
    background-size: cover;
    background-position: center; 
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

/* .seven {
    grid-column: 1 / 2;
}

.eight {
    grid-row: 5 / 7;
    grid-column: 2 / 3;
}

.nine {
    grid-column: 3 / 4;
    grid-row: 5 / 7;
}

.ten {

} */



/* 
Grid- сетка
по-дефолту - 1 колонка

Управление колонками
grid-template-colums

Управление рядами
grid-template-rows

1fr (fraction) - доля размера родительского элемента
*/

/*  grid-template-columns: repeat(3,100px);
    or
    grid-template-columns: 100px 100px 100px; 
*/