@import url(reset.css);

.container {
    /* height: 600px; */
    border: 1px solid black;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: repeat(6, 16.6vh);

}

.box {
    background-color: antiquewhite;
    font-size: 2em;
    text-align: center;
    /* border: 1px solid  black; */
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.one, .four {
    grid-row: 1 / 3;
}
.one, .nine {
    grid-column: 1 / 3;
}

.two, .three, .ten,.eleven {
    grid-column: 3 / 4;
}

.four, .twelve {
    grid-column: 4 / 5;
}

.five {
    grid-column: 1 / 2;
}
.five, .eight {
    grid-row: 3 / 5;
}

.six, .seven {
    grid-column: 2 / 3;
}

.eight {
    grid-column: 3 / 5;
}

.nine, .twelve {
    grid-row: 5 / 7;
}


/* 
Grid- сетка
по-дефолту - 1 колонка

Управление колонками
grid-template-colums

Управление рядами
grid-template-rows

1fr (fraction) - доля размера родительского элемента
*/

/*  grid-template-columns: repeat(3,100px);
    or
    grid-template-columns: 100px 100px 100px; 
*/