@import url(reset.css);

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 93vh repeat(2, 80vh);
    /* column-gap: 1em; */
    row-gap: 1em;
}
.first-screen {
    background-image: url(./beach3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.first-screen-text {
    width: 70%;
    background-color: rgba(255, 188, 69, 0.88);
    padding: 0.5em 0;
    margin-bottom: 3%;
}

.first-screen-text:hover {
    background-color: rgba(255, 166, 0, 0.702);
}

.first-screen-text p {
    font-size: 2em;
    font-weight: 700;
    margin: 0.5em;

}

.card {
    border-top: 6px solid orange;
    margin: 40px 20px;
}

.card:nth-child(even) {
    margin-left: 40px;
}

.card:nth-child(odd) {
    margin-left: 40px;
}

.card img {
    width: 100%;
}

.card h2 {
    font-size: 2em;
    margin: 1em;
}
/* 
Grid- сетка
по-дефолту - 1 колонка

Управление колонками
grid-template-colums

Управление рядами
grid-template-rows

1fr (fraction) - доля размера родительского элемента
*/

/*  grid-template-columns: repeat(3,100px);
    or
    grid-template-columns: 100px 100px 100px; 
*/